<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <script>
        function validateForm() {
            let username = document.forms["loginForm"]["username"].value;
            let password = document.forms["loginForm"]["password"].value;

            if (username == "" || password == "") {
                alert("Username and Password must be filled out");
                return false;
            }
        }
    </script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <div class="left">Kunj's Portfolio</div>
            
        </nav>
    </header>

    <main>
        <section class="firstSection">
            <div class="leftSection">
                <h1>Login</h1>
                <form name="loginForm" onsubmit="return validateForm()" method="POST" action="{{ url_for('login') }}">
                    <label for="username">Username:</label><br>
                    <input type="text" id="username" name="username"><br>
                    <label for="password">Password:</label><br>
                    <input type="password" id="password" name="password"><br>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </section>
    </main>
</body>
</html>